<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .aaa{
            color: hsl(180, 74%, 41%);
        }

    </style>
</head>
<body>
    <a href="/">首頁</a>
    <a href="../html">html基礎</a>
    <a href="../flex">flex排版</a>
    <div style="color:brown">
        嵌入式樣式
    </div>
    <div class="aaa"> 
        內部樣式
    </div>
    <div class="bbb">
        外部樣式
    </div>
</body>
</html>