<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;                    /*外距*/
            padding: 0;
            box-sizing: border-box;       /*將寬度與padding算在一起*/
        }
        .container{
            display: flex;                /*將排版變橫式的*/
            flex-wrap: wrap;              /*換行*/
            width: 1200px;                /*限縮整體寬度*/
            margin-inline: auto;          /*左右對齊*/
        }
        .box{
            width: 25%;                    /*每個段落佔的比例*/
            padding: 15px;                /*內距:段落之間的距離*/
        }
        .small{
            width: 30%;
        }
        .large{
            width: 70%;
        }
    </style>
</head>
<body>
    <a href="/">首頁</a>
    <a href="../html">html基礎</a>
    <a href="../css">css基礎</a>
    <div class="container">
        <div class="small">
            <ul>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
            </ul>
        </div>
        <div class="large">
            <h2>title</h2>
            <br>
            <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non. 
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
        </div>
         <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
        </div>
        <div class="box">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
            </p>
        </div>
    </div>
</body>
</html>