<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .container{
            width: 1500px;
            height: 1000px;
            background-color: bisque;
            display: flex;
            flex-wrap: wrap;
            margin-inline: auto;

            justify-content: space-between;
            align-items: center;  
        }
        .box{
            width: 200px;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>titla 1</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci consequuntur maiores ex a esse velit? Natus minus, itaque tempora eveniet nulla et alias eum doloremque quod voluptatem ullam, consequuntur esse.
            </p>
        </div>
        <div class="box">
            <h2>titla 2</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci consequuntur maiores ex a esse velit? Natus minus, itaque tempora eveniet nulla et alias eum doloremque quod voluptatem ullam, consequuntur esse.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, labore. Delectus nisi totam perspiciatis inventore sequi. Consequatur ab debitis ea cupiditate, optio expedita voluptatibus reiciendis necessitatibus, eos culpa quasi. Esse!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis ad iure est expedita laboriosam, neque ipsam velit culpa ipsum delectus aspernatur? Veniam molestias consequatur asperiores. Qui veniam repellendus placeat excepturi.
            </p>
        </div>
        <div class="box">
            <h2>titl 3</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci consequuntur maiores ex a esse velit? Natus minus, itaque tempora eveniet nulla et alias eum doloremque quod voluptatem ullam, consequuntur esse.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet iure nisi eius cum, corporis beatae laudantium optio dicta neque delectus debitis, repellendus architecto exercitationem sed doloremque excepturi tempora ipsam impedit!
            </p>
        </div>
    </div>
</body>
</html>