<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">首頁</a>
    <a href="../css">css基礎</a>
    <a href="../flex">flex排版</a>
    <h1>標題一</h1>
    <h2>標題二</h2>
    <h3>標題三</h3>
    <h4>標題四</h4>
    <h5>標題五</h5>
    <h6>標題六</h6>
    <p>段落文字</p>
    <img src="/gif/尿尿.gif" alt="">
    <img src="/gif/讚.gif" alt="">
    <img src="https://picsum.photos/seed/picsum/300/400" alt="">
    <img src="https://picsum.photos/id/237/200/300" alt="" width="300">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, iusto consequatur nam deserunt magni aliquid. Eligendi, quas veniam natus debitis, modi dignissimos architecto ea explicabo consequatur, quam iste praesentium non.
    </p>
    <ul>
        <li>項目清單</li>
        <li>項目清單</li>
        <li>項目清單</li>
        <li>項目清單</li>
        <li>項目清單</li>
    </ul>
    <ol>
        <li>編號清單</li>
        <li>編號清單</li>
        <li>編號清單</li>
        <li>編號清單</li>
        <li>編號清單</li>
    </ol>
    <header></header>
    <nav></nav>  <!--主選單-->
    <footer></footer>  <!--頁腳-->
    <section></section>  <!--區域/區塊-->
    <aside></aside>  <!--邊緣-->
    <article></article>  <!--文章-->
    <div></div>  <!--不知道要用哪個就可以用這個-->
    <p>Lorem ipsum dolor sit amet consectetur哈囉你好嗎</p>
    <b>ipsum dolor sit amet consectetur哈囉你好嗎</b> 
    <br>
    <i>Lorem ipsum dolor sit amet consectetur哈囉你好嗎</i>
    <br>
    <b><i>Lorem ipsum dolor sit amet consectetur哈囉你好嗎</i></b>
    <br>
    <i><b>Lorem ipsum dolor sit amet consectetur哈囉你好嗎</b></i>
    <br>
    <del>Lorem ipsum dolor sit amet consectetur哈囉你好嗎</del>
    <br>
    <u>Lorem ipsum dolor sit amet consectetur哈囉你好嗎</u>
    <br>
    <u><del>Lorem ipsum dolor sit amet consectetur哈囉你好嗎</del></u>
    <br>
    <del><u>Lorem ipsum dolor sit amet consectetur哈囉你好嗎</u></del>
    <br>
    <b><i><u><del>Lorem ipsum dolor sit amet consectetur哈囉你好嗎</del></u></i></b>
</body>
</html>