<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        let n = [24,12,6,32,40]
        n.sort((a,b) => a-b)
        console.log(n)

        let dates = [
            '2025-05-01',
            '2025-02-03',
            '2025-03-02'
        ]

        dates.sort((a,b) => a.localeCompare(b) || b.localeCompare(a))
        console.log(dates)
    </script>
</body>
</html>