---
import BaseLayout from "../layouts/BaseLayout.astro"
import { slide } from "astro:transitions";
---
<BaseLayout pageTitle="關於楓之眾">
    <div class="grid grid-cols-2 gap-4 items-center mt-12">
        <div class="flex flex-col gap-4 pr-6" transition:animate={slide({duration:'0.6s'})}>
            <h2 class="text-xl font-bold">楓之眾</h2>
            <p>🎋 大家好，我們是「楓之眾」！</p>
            <p>我們是一個由一群熱愛楓之谷的上班族組成的公會，會地在28頻的阿爾卡納。無論你是剛加入的新手，還是經驗豐富的老手，我們都誠摯歡迎你的加入！</p>
            <p>我們算是休閒公會，雖然每週一定要打下水道，但不限分數，有打就好(就算只有1分)，就不會被踢出公會;而我們也有自己的王團，對想解創世任務的人來說絕對不能錯過，綜上所述，這是一個適合休閒玩家與攻略玩家的好公會!</p>
            <p>我們是一個主打「輕鬆休閒」的公會，但也不失效率與凝聚力：</p>            
            <p>✅ 每週固定出團挑戰下水道，不設門檻，只要有打就好（哪怕只有1分）！不用擔心壓力，只要有心參與，就不會被踢。</p>
            <p>🗡️ 參與王團進行創世任務，想解放創世武器的你絕對不能錯過。</p>
            <p>💎 經常還能以優於市場的價格購入裝備，是裝備升級受限預算的玩家的一大福音！</p>
            <p>如果你正在找一個溫暖又自在的公會，能一起打王、解創世、閒聊、裝備升級，那麼——</p>
            <p>🌟 「楓之眾」會是你最棒的選擇！</p>
            <p>📌 快登入遊戲，在阿爾卡納28頻與我們相見吧！</p>
        </div>
        <div class="aspect-square" transition:animate={slide({duration:'1.2s'})}>
            <img src="/jpg/楓之眾.png" alt="" class="w-full h-full object-cover rounded-xl shadow-2xl">
        </div>
    </div>
    <h1 class="text-5xl font-bold text-center mt-15 my-5">公會成員</h1>
</BaseLayout>