---
import {fade} from 'astro:transitions'
const {post,url,idx} = Astro.props
---
<div class="w-1/2 p-3" transition:animate={fade({duration:`0.${idx+6}s`})}>
    <div class="border border-slate-300 rounded-xl overflow-hidden">
        <div class="aspect-video">
            <img src={post.hero.src} alt="圖片載入中..." class="w-full h-full object-cover">
        </div>
        <div class="p-3 flex flex-col gap-3">
            <h3 class="text-xl font-bold">{post.title.slice(0,17)}...</h3>
            <div class="text-sm text-slate-600">{post.author}</div>
            <div class="text-sm text-slate-600">{post.pubDate.slice(0,10)}</div>
            <a href={url} class="text-sky-500 font-bold">繼續閱讀</a>
        </div>
    </div>
</div>