<nav class="flex flex-row gap-6 w-full mx-auto justify-center py-6 bg-indigo-500 text-2xl text-stone-100 *:hover:text-amber-500">
	<a href="/"><strong>首頁</strong></a>
	<a href="/blog"><strong>所有文章</strong></a>
	<a href="/tags"><strong>熱門標籤</strong></a>
	<a href="/about"><strong>關於楓之眾</strong></a>
	<a href=""><strong>蘑菇的悄悄話</strong></a>
	<a href="/contact"><strong>相關連結</strong></a>
	<a href=""><strong>實用工具</strong></a>
</nav>

<style>
    /*nav{
		display: flex;
		gap: 15px;
		justify-content: center;
		padding-block: 25px;
		background-color: #222;
	}
	nav a{
		color: #eee;
		text-decoration: none;
    }*/
</style>