<nav class="flex gap-4 justify-center py-7 bg-zinc-900 text-zinc-100 *:hover:text-amber-300">
	<a href="/">首頁</a>
	<a href="/blog">所有文章</a>
	<a href="/tags">熱門標籤</a>
	<a href="/about">關於楓之眾</a>
	<a href="">蘑菇的悄悄話</a>
	<a href="/contact">相關連結</a>
</nav>

<style>
    /*nav{
		display: flex;
		gap: 15px;
		justify-content: center;
		padding-block: 25px;
		background-color: #222;
	}
	nav a{
		color: #eee;
		text-decoration: none;
    }*/
</style>